.container {
  padding: 1em;
  font-family: monospace;
  font-size: 1.2em;
  display: flex;
  background-color: #00F3;
}

.editor {
  white-space: pre;

  unknown {
    color: #F00;
  }

  & > *:hover {
    font-weight: bold;
  }


  & > wait-statement {
    margin-right: 4px;

    & > numeric {
      color: #99f;
    }

    & > factor {
      color: #ff9100;
    }
  }

  & > play-statement {
    color: #33ff00;
    font-weight: bold;
    margin-right: 4px;
  }


  & > play-track-statement {
    color: #0004ff;
    font-weight: bold;
  }

  & > track-start {
    & > name {
      color: #0004ff;
      font-weight: bold;
    }
  }


  & > function-call {

    & > import {
      color: #814186;
      font-weight: bold;
    }

    & > function {
      color: #f99;
    }

    & > literal-property {
      color: #99dbff
    }

    & > string {
      color: #9f9;
    }

    & > number {
      color: #99f
    }

    & > operator {
      color: #afff99
    }

    & > keyword {
      color: #ffc799
    }
  }

  & > variable-statement {
    & > name {
      font-weight: bold;
      color: #ff5fd8;
    }

    & > value {
      font-weight: bold;
      color: #ff9100;
    }
  }
}