.container {
  padding: 1em;
  font-family: monospace;
  font-size: 1.2em;
  display: flex;
  background-color: #000;
}

.menuContainer {

}

.editor {
  white-space: pre;
  padding: .2em;

  operator,
  delimiter,
  punctuation {
    color: #AAA;
  }

  unknown {
    color: #ab1b00;

  }

  & > *:hover {
    font-weight: bold;
  }


  wait-statement {
    margin-right: 4px;

    & > numeric {
      color: #ff4d4d;
      font-weight: bold;
    }

    & > factor {
      color: #ff944d;
      font-weight: bold;
    }
  }

  play-statement {
    margin-right: 4px;

    & > play-frequency {
      font-weight: bold;
      color: #00FF09;
    }

    & > arg {
      //color: #db8e57;
    }
  }


  play-track-statement {
    color: #00FF09;
    font-weight: bold;
  }

  track-start {
    & > name {
      color: #FF00F6;
      font-weight: bold;
    }
  }

  function-name {
    color: #2a34ff;
  }

  assign-to-variable {
    //font-weight: bold;
    color: #55a6ff;
  }


  javascript-statement {
    & > function {
      color: #9999ff;
    }

    & > literal-property {
      color: #99dbff
    }


    & > operator {
      color: #afff99
    }

    & > keyword {
      color: #ffc799
    }
  }

  param-variable {
    //color: #F80;
    color: #55a6ff;
    //font-weight: bold;
  }

  param-string {
    color: #FFAE55;
  }

  param-numeric {
    color: #ddff00;
    //font-weight: bold;
  }
}