.container {
  padding: 8px;
}

.title {

}

.editor {
  border: 2px solid #AAA;
  border-radius: 4px;
  white-space: pre;
  padding: .2em;
  color: #AAA;

  //operator,
  //delimiter,
  //punctuation {
  //}

  [active] {
    font-style: italic;
    //text-decoration: underline;
    font-weight: bold;
  }

  unknown-token {
    color: #ab1b00;

  }

  & > *:hover {
    font-weight: bold;
  }


  wait-statement {
    margin-right: 4px;
    color: #F5E960;
  }

  play-statement {
    margin-right: 4px;
    color: #00FF09;

    & > play-frequency {
      font-weight: bold;
    }
  }

  play-track-statement {
    margin-right: 4px;
    color: #00FF09;
    font-weight: bold;
  }

  track-start {
    color: #FF00F6;
    font-weight: bold;
  }

  //
  //function-statement {
  //  color: #8367C7;
  //
  //}

  function-name {
    color: #b571ff;
  }

  param-key,
  assign-to-variable,
  param-variable {
    color: #38B9FF;
  }

  param-string {
    color: #55D6C2;
  }

  param-numeric {
    //color: #ff944d;
    //font-weight: bold;
  }

  param-duration {
    color: #ff944d;

  }

  param-factor {
    font-weight: bold;
  }
}